<div class="row justify-content-center my-4">
    <div class="col-md-3 mb-2">
        <a class="btn btn-primary btn-lg btn-block" href="@Url.Action("Index", "Courses")">View Courses</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-primary btn-lg btn-block" href="@Url.Action("Index", "Departments")">View Departments</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-success btn-lg btn-block" href="@Url.Action("Index", "crsResults")">View Grades</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-success btn-lg btn-block" href="@Url.Action("Index", "RoomReservations")">View Schedule</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-warning btn-lg btn-block" href="@Url.Action("Index", "MaintenanceRequests")">View Maintenance</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-info btn-lg btn-block" href="@Url.Action("Index", "Transcripts")">View Transcripts</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-secondary btn-lg btn-block" href="@Url.Action("Index", "ResourceAllocations")">View Allocated Resources</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-info btn-lg btn-block" href="@Url.Action("Index", "Announcements")">View Announcements</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-warning btn-lg btn-block" href="@Url.Action("Index", "Events")">View Events</a>
    </div>

</div>
