<div class="container mt-5">
    <h1 class="display-4">Admin Dashboard</h1>
    <p>Welcome, @(User.Identity.Name.Split('@')[0])!</p>

    <p class="lead">Manage programs, courses, instructors, and classroom resources.</p>
</div>

<div class="row justify-content-center my-4">
    <div class="col-md-3 mb-2">
        <a class="btn btn-primary btn-lg btn-block" href="@Url.Action("Index", "Courses")">Courses</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-primary btn-lg btn-block" href="@Url.Action("Index", "Departments")">Departments</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-primary btn-lg btn-block" href="@Url.Action("Index", "Instructors")">Instructors</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-primary btn-lg btn-block" href="@Url.Action("Index", "crsResults")">Course Results</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-success btn-lg btn-block" href="@Url.Action("Index", "RoomReservations")">Classroom Reservations</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-warning btn-lg btn-block" href="@Url.Action("Index", "MaintenanceRequests")">Maintenance Requests</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-primary btn-lg btn-block" href="@Url.Action("Index", "AdmissionApplications")">Admission Applications</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-primary btn-lg btn-block" href="@Url.Action("Index", "StudentRecords")">Student Records</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-success btn-lg btn-block" href="@Url.Action("Index", "Transcripts")">Transcripts</a>
    </div>
    <div class="col-md-3 mb-2">
        <a class="btn btn-outline-info btn-lg btn-block" href="@Url.Action("Index", "ResourceAllocations")">Resource Allocations</a>
    </div>

</div>
